.new-project-button {
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: #1A76D1;
    color: white;
    float: right;
    border-radius: 15px;
    border: none;
    outline: none;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
}

.select-status {
    margin: 40px 0 20px 0;
}

.project-list {
    margin: 0 5% 0 5%;
}

.project-title {
    font-weight: bold;
    font-size: medium;
}

.sort-btn {
    background-color: #1A76D1;
    color: white;
}

.sort-switch {
    width: 50px;
}

.sort-switch input[type="checkbox"] {
    display: none;
}

.sort-switch label {
    display: block;
    border: none;
    border-radius: 15px;
    height: 32px;
    font-size: 17px;
    text-align: center;
    background: #d2302f;
    box-shadow: none;
    padding-top: 3px;
}

.sort-switch label span:after{
    content: "降順";
    color: #fff;
}

.sort-switch #sort-btn:checked + label {
    background: #1a76d1;
    box-shadow: none;
}

.sort-switch #sort-btn:checked + label span:after {
    content: "昇順";
    color: #fff;
}

h1 {
    font-weight: bold;
}

.new-project-form {
    margin: 5% 5% 0 5%;
}

.new-project-submit-btn {
    width: 150px;
    height: 40px;
    font-size: 17px;
    background-color: #1A76D1;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
}

.new-project-form-label {
    font-size: 25px;
}

.asterisk {
    font-size: 25px;
    color: red;
}

.header-container {
    margin-top: 5px;
    display: flex;
}

.description-container {
    border: 1px solid;
    margin-top: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.button-group button {
    width: 150px;
    height: 40px;
    font-size: 17px;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: 5px;
}

.watch-button {
    background-color: #1A76D1;
    width: 75px;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
}

.member-button {
    background-color: #1A76D1;
}

.close-button {
    background-color: #F57C05;
}

.edit-button {
    background-color: #8CC34A;
}

.delete-button {
    background-color: #E57373;
}

.create-issue-button {
    width: 150px;
    height: 40px;
    margin-left: 85%;
    font-size: 17px;
    background-color: #1A76D1;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
}

.issue-list-title {
    margin-top: 30px;
}

section {
    margin: 0 5% 0 5%;
}

.project-title:link, .project-title:visited, .project-title:hover, .project-title:active {
    color: black;
}

.project-description {
    height: 2em;
    width: 40em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-title {
    display: block;
    height: 2em;
    width: 40em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header-bar
{
    height: 3em;
    width: auto;
    background-color: #1A76D1;
}

.header-table td {
    height: 3em;
    width: 30em;
    border: 1px solid white;
    margin: 0 auto 0 auto;
}

.header-table a {
    color: white;
    font-size: 20px;
}

.header-table p {
    text-align: center;
    margin: 0;
}